*~
*.swp
*.elc
.mc-lists.el
ac-comphist.dat
auto-save-list
places
ede-projects.el
elpa/archives/*
org-clock-save.el
projectile-bookmarks.eld
projectile.cache
recentf
semanticdb
saved-places
speed-type/
tramp
/elpa/gnupg/
url/
/ido.last
network-security.data
/bookmarks
/eshell/history
/transient/history.el
