*~
semanticdb/
org-clock-save.elc
org-clock-save.el
ac-comphist.dat
auto-save-list
ede-projects.el
ede-projects.elc
recentf
saved-places
tramp
elpa/archives/*
ido.last
/.mc-lists.el
/emacs_workgroups
/projectile-bookmarks.eld
