/url/
/srecode-map.el
/semanticdb/
/org-clock-save.elc
/org-clock-save.el
/helm-adaptive-history
/git-gutter-fringe+.org
/emacs-20140218
/emacs-20131229
/emacs-20140101
/emacs-20140110
/emacs-20140111
/emacs-20140217
/.mc-lists.el
/TAGS.bak
/ac-comphist.dat
/auto-save-list/
/ede-projects.el
/**/*~
/TAGS
/ede-projects.elc
/recentf
/saved-places
/tramp